/* 
    Document   : primefaces
    Created on : Apr 20, 2013, 11:11:33 AM
    Author     : Joakim
    Description:
        Purpose of the stylesheet follows.
*/

.ui-widget-content{
    border: none;
    border-color: #ffffff;
    margin: 0;
}

.ui-datatable .ui-column-filter.iuu-select-filter {
    width: 100%;   
    margin: 0;
}

.expenseLabel{ background: #00cc99; }

.redColoredPanel .ui-panel-titlebar {
    color: white;
    background: red;  
}

.greenColoredPanel .ui-panel-titlebar {
    color: white;
    background: green;   
}

.textCentered { text-align: center; }

.textLeft { text-align: left; }

.textRight { text-align: right; }

a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
}

